*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Navbar */

.navbar-main{
    width:100%;
    position:fixed;
    top:0;
    z-index:1000;
}
.navbar-wapper{
    width:100%;
    height:70px;
    background-color:rgb(224,196,126);
    padding:10px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-logo{
    color:orange;
    font-size:30px;
    font-weight:bolder;
}
.navbar-list{
    display:flex;
    list-style:none;
    gap:20px;
}
.navbar-list li a{
    text-decoration:none;
    color:black;
    font-size:16px;
    font-weight:600;
    position:relative;
}
.navbar-list li a::after{
    content:"";
    width:0;
    height:3px;
    background:black;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.3s;
}
.navbar-list li a:hover::after{
    width:100%;
}
/* Home Section */

.auction-home{
    width:100%;
    height:90vh;
    background-color:rgb(214,121,6);
}
.home-wapp{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:150px 60px 20px;
    justify-content: center;
}
.home-left{
    width:50%;
}
.home-right{
    width:50%;
    display:flex;
    justify-content:center;
}
.home-right img{
    width:550px;
    max-width:100%;
}
/* Home Text */

.home-left h1{
    font-size:3rem;
    text-transform:uppercase;
    color:white;
    text-shadow:4px 4px 8px rgba(0,0,0,0.4);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading{
    color:gold;
    font-size:4.5rem;
}
.home-left p{
    margin:20px 0;
    font-size:20px;
    line-height:1.8;
    color:white;
}
/* Home Buttons */

.home-left button{
    width:160px;
    padding:12px;
    margin-right:15px;
    border:none;
    background:gold;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}
.home-left button:hover{
    background:black;
    color:white;
    box-shadow:0 0 15px black;
}
/* Home card */

.home-card{
    display: flex;
    gap: 30px;
    padding:90px 60px 20px;
   justify-content: center;
   }
.card-main{
    width: 300px;
    height: 300px;
     border: 2px solid rgb(0, 0, 0);
      border-radius: 20px;
      justify-items: center;
      background-color:burlywood;
}
 .card-main:hover{
   box-shadow: 5px 5px 15px black;
   transform: scale(1.03);
   transition: 0.3;
}
.card-img img{
    width:100%;
    height: 230px;
    border-radius: 20px;
    background-color: white;
}
.card-para{
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}
/* About Us Section */

.about-main{
    background-color:khaki;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 50px;
    scroll-margin-top: -15px;
}
.about-wapper{
    display: flex;
}
.about-left{
    width: 50%;
    /* border: 2px solid black; */
}
.about-right{
    width: 50%;
    text-align: center;
    align-content: center;
}
.about-right img{
    width: 530px;
    height: 520px;
    border-radius: 10%;
    box-shadow: 2px 2px 20px black;
}
.about-left h1{
font-size: 5rem;
color:brown;
 text-shadow:4px 4px 8px rgba(0,0,0,0.4);
}
.about-left h2{
padding: 10px 0px;
font-size: 2.6rem;
color: chocolate;
}
.about-left-p{
    font-size: 1.5rem;
    color: crimson;
    font-style: italic;
}
.about-logo{
    display: flex;
    padding: 50px 0px;
    gap: 20px;
}
.about-logo-box{
    width: 170px;
    height: 220px;
    /* border: 2px solid blue; */
    text-align: center;
}
.about-logo-box img{
    width: 100px;
    height: 100px;
}
.about-logo-box p{
   color: brown;
   font-style: oblique;
}
.about-center{
    background-color: rgb(4, 4, 58);
    border-radius: 30px;
    padding: 80px 50px;
    /* border: 5px solid white; */
    display: flex;
}
.about-center-left{
    width: 50%;
    /* border: 2px solid white; */
    display: flex;
    gap: 30px;
}
.center-right{
color: white;
font-size: 22px;
 padding: 20px 10px;
}
.center-right p{
   padding: 20px 0px; 
   font-size: 18px;
}
.center-left img{
    width: 200px;
    border-radius: 10px;
}
.center-img img{
    width: 200px;
    height: 160px;
    border-radius: 10px;
}
.about-center-right{
    width: 50%;
    /* border: 2px solid white; */
    display: flex;
    gap: 30px;
}

/* Categories Section */

.Categories-wapper{
    background-color:whitesmoke;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0px;
    scroll-margin-top: 50px;
}
.Categories-wapper h1{
    font-size: 4.5rem;
    text-transform: uppercase;
    color: crimson;
    text-shadow:4px 4px 8px rgba(0,0,0,0.4);
    padding: 15px 0px;
}
.Categories-wapper p{
    font-size: 20px;
    font-family:monospace;
    color: brown;
    font-weight: bold;
}
.Categories-box{
    padding: 10px;
    display: flex;
    /* border: 2px solid black; */
   justify-content: space-between;
}
.Categories-left, .Categories-right{
    padding: 20px;
    /* border: 2px solid orangered; */
    width: 50%;
    justify-content: center;
    justify-items: center;
}
.categories-card{
    padding: 20px;
    /* border: 2px solid rgb(22, 165, 17); */
    width:500px;
    height:400px;
    display: flex;
    margin-top: 20px;
    /* background: rgb(197, 226, 238); */
}

.categories-card-left{
 width: 50%;
}
.categories-card-left img{
    width: 100%;
    height: 100px;
}
.categories-card-left button{
    padding: 10px 10px;
    margin: 25px 0px;
    border-radius: 7px;
    color: white;
    margin-top: 50px;
}
.card-h1{
 color: rgb(13, 13, 100); 
 font-size: 2rem;  
}
.card-button1{
    border: 2px solid rgb(13, 13, 100);
   background-color: rgb(13, 13, 100);
    color: white;
}
.card-h2{
 color:green ; 
 font-size: 2rem;  
}
.card-button2{
    border: 2px solid green;
    background-color: green;
}
.card-h3{
color: purple;
}
.card-button3{
    border: 2px solid purple ;
    background-color:purple;
}
.card-h4{
color: crimson;
}
.card-button4{
    border: 2px solid crimson;
    background-color: crimson;
}
.card-h5{
color: orangered;
}
.card-button5{
    border: 2px solid orangered;
    background-color:orangered;
}
.card-h6{
color: rgb(128, 40, 40);
}
.card-button6{
    border: 2px solid rgb(128, 40, 40);
    background-color: rgb(128, 40, 40);
}
.categories-card-right img {
    width: 100%;
    height: 100%;
}
.bg1{
    background: rgb(197, 226, 238);
}
